*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url(../img/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
}

.header{
    display: inline-flex;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    align-items: center;
    color: white;
}

.logo {
    height: 48px;
    filter: drop-shadow(0 0 10px rgb(75, 73, 73));
    margin-left: 50px;
}

.logo:hover {
    filter: drop-shadow(0 0 5px rgb(153, 149, 149));
    transition: filter 400ms;
}

h1 {
    margin-left: 120px;
    font-size: 2em;
}

h1:hover{
    text-shadow: 0 0 20px white;
    transition: text-shadow 400ms;
}

.main-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 1000px;
    height: 600px;
    display: inline-flex;
}


.main-text{
    width: 860px;
    height: 530px;
    display: inline-block;
    justify-content: center;
}

.texto {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 325px;
    margin-top: 40px;
}

.text{
    width: 600px;
    height: 225px;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.596);
    color: rgb(255, 255, 255);
    border: none;
}

.text:focus {
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
    transition: box-shadow 500ms;
}

.main-out{
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.596);
    display: inline-block;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.texto2 {
    width: 82%;
    margin: 10px 30px 50px 20px;
    display: flex;
    justify-content: center;
    height: 230px;
    background-color: none;
    background-image: url("../img/Muñeco.png");
    background-position: center;
    background-size: 80% 70%;
    background-repeat: no-repeat;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    color: white;
}

.text-hidden {
    display: hidden;
}

.botones{
    display: inline-flex;
    margin-left: 40px;
}

.adverstencia{
    display: inline-flex;
    margin-left: 40px;
    width: 100%;
    color: antiquewhite;
}
.exclamacion{
    width: 20px;
    height: 20px;
    background-color: rgb(206, 206, 206);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    text-align: center;
}

.encriptar,.desencriptar{
    width: 170px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
}

.desencriptar{
    margin-left: 30px;
    color: white;
}

.desencriptar:hover {
    color: rgb(38, 238, 238);
    transition: font-size 400ms ease, background-color 400ms;
    font-size: 1.1em;
    background-color: rgba(44, 44, 44, 0.74);
}


.encriptar {
    color: white;
}

.encriptar:hover {
    color: rgb(77, 253, 33);
    transition: font-size 400ms ease, background-color 400ms;
    font-size: 1.1em;
    background-color: rgba(44, 44, 44, 0.74);
}

.copiar {
    background-color: black;
    width: 170px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
}

.copiar:hover {
    color: rgb(253, 231, 33);
    transition: font-size 400ms ease, background-color 400ms;
    font-size: 1.1em;
    background-color: rgba(44, 44, 44, 0.74);
}

.texto-saliente {
    text-align: center;
    margin: -45px 30px 30px 30px;
}

.mensaje1{
    font-weight: 800;
    font-size: 1.5em;
    color: white;
}

.mensaje2{
    font-size: 1em;
    margin-top: -15px;
    color: rgb(223, 223, 223);
}

.botones2{
    display: inline-flex;
    margin-top: -20px;
}


@media only screen and (max-width:1280px) {
    .main-contenedor {
        width: 100%;
        margin: 0;
    }

    .contenedor{
        width: 100%;
        margin: 0;  
    }
    .main-out{
        width: 30%;
        margin-right: 40px;
        height: 440px;
        margin-top:40px
    }

    .main-text {
        width: 70%;
        margin: 0;
    }
    .text{
        width: 100%;
        margin: 50px;
        margin-top: 0;
    }

    
    .texto2{
        width: 84%;
        margin: 40px 40px 40px 00px;
        background-position: center;
        background-size: 100% 80%;
        background-repeat: no-repeat;
        height: 180px;
        background-image: url("../img/Muñeco.png");
        background-position: center;
        background-size: 150px;
        background-repeat: no-repeat;
        
    }

    .mensaje1{
        font-weight: 800;
        font-size: 1.1em;
        color: white;
    }
    
    .mensaje2{
        font-size: 0.8em;
        margin-top: -15px;
        color: rgb(223, 223, 223);
    }
    .adverstencia{
        display: inline-flex;
        margin-left: 50px;
        width: 100%;
    }
    .botones{
        display: inline-flex;
        margin-left: 40px;
        width: 80%;
    }

    .encriptar,.desencriptar{
        width: 100%;
    }
}

@media only screen and (max-width:834px) {
    .main-contenedor {
        width: 100%;
        margin: auto;
        display: flex;
        text-align: center;
    }

    .contenedor{
        width: 100%;
        margin: 0; 
        display: block;
    }

    .adverstencia{
        display: inline-flex;
        margin-left: 60px;
        width: 100%;
        color: antiquewhite;
    }

    .main-out{
        width: 86%;
        height: 450px;
        justify-content: center;
        display: inline-block;
        text-align: center;
    margin: auto;
    }

    .main-text {
        width: 100%;
        margin: 0;
    }
    .text{
        width: 100%;
        margin: 50px;
        margin-top: 0;
    }

    .botones{
        display: inline-flex;
        margin: auto;
        width: 86%;
        margin-top: 25px;
    }

    .encriptar,.desencriptar{
        margin: auto;
        width: 30%;
    }
    .texto2{
        width: 80%;
        margin: auto;
        margin-top: 30px;
        height: 250px;
        background-image: url("../img/Muñeco.png");
        background-position: center;
        background-size: 250px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width:560px) {
    .botones{
        display: block;
        width: 100%;
        margin-top: 25px;
    }

    .encriptar,.desencriptar{
        margin: auto;
        width: 86%;
        margin-bottom: 25px;
    }
    .main-out{
        margin-top:40px
    }
    .main-contenedor {
        width: 100%;
        margin-left: 37px;

    }

    .text{
        width: 100%;
        margin: 30px;
        margin-top: 0;
    }

    h1{
        font-size: 1.5em;
        margin-left: 25px;
    }
    .header {
        margin-top: 20px;
    }
}

